# Author: Joao Goncalves
# Path: ~/

[user]
	name = João Gonçalves
	email = jsvgoncalves@gmail.com
	#email = jsvgoncalves@redhat.com
[alias]
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
[core]
	fileMode = false
	editor = vim
	pager = sed 's/\t/...     /g' | less -R
[color]
	ui = true
[commit]
	template = /home/jsvgoncalves/.gitmessage
[push]
	default = simple
